<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FileStorage.Contracts" version="1.0.35" targetFramework="net452" />
  <package id="MediaToolkit" version="1.1.0.1" targetFramework="net452" />
  <package id="Service.Common" version="1.0.64" targetFramework="net452" />
  <package id="Service.Registry" version="1.0.64" targetFramework="net452" />
</packages>