<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="utils" type="Mindscan.Media.Utils.Config.MediaConfigSection, Mindscan.Media.Utils" />
		<section name="repository" type="Mindscan.Media.Utils.Config.MediaConfigSection, Mindscan.Media.Utils" />
	</configSections>

	<utils>
		<LoggerConfig ConfigPath="logger.config" DebugFilePath="" ErrorFilePath="" />
		<BrokerConfig>
			<endpoint Name="Scheduler" Host="localhost" VirtualHost="Scheduler" UserName="Scheduler" Password="Scheduler$" />
			<endpoint Name="Smi" Host="localhost" VirtualHost="Smi" UserName="Scheduler" Password="Scheduler$" />
			<endpoint Name="Prizma" Host="localhost" VirtualHost="Prizma" UserName="Scheduler" Password="Scheduler$" />
			<endpoint Name="TvRain" Host="localhost" VirtualHost="TvRain" UserName="Scheduler" Password="Scheduler$" />
		</BrokerConfig>
		<HostConfig Name="Mindscan.Media.Scheduler.Host" DisplayName="Media.Scheduler" User="" Password="" />
	</utils>

	<repository ConnectionString="Server=localhost;Database=media;Userid=postgres;Pooling=true;Timeout=15;"></repository> 
	
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>