<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<utils>
		<BrokerConfig xdt:Transform="Replace">
			<endpoint Name="Scheduler" Host="localhost" VirtualHost="Scheduler" UserName="Scheduler" Password="Scheduler$" Debug="true" />
			<endpoint Name="Smi" Host="localhost" VirtualHost="Smi" UserName="Scheduler" Password="Scheduler$" Debug="true" />
			<endpoint Name="Prizma" Host="localhost" VirtualHost="Prizma" UserName="Scheduler" Password="Scheduler$" Debug="true" />
			<endpoint Name="TvRain" Host="localhost" VirtualHost="TvRain" UserName="Scheduler" Password="Scheduler$" Debug="true" />
		</BrokerConfig>
	</utils>
</configuration>